.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 8px;
  text-align: center;
  color: #222;
}

.Logo {
  width: 60px;
  height: auto;
}

.Logotype {
  font-size: 140px;
  font-family: 'Courier', monospace;
  margin-top: 0;
}

.Blurb {
  font-size: 15px;
  font-family: 'Courier', monospace;
  margin-bottom: 32px;
}

.UserCount {
  font-size: 15px;
  font-family: 'Courier', monospace;
  font-weight: bold;
  margin-bottom: 32px;
  color: coral;
}

.Button {
  display: inline-block;
  border: 2px solid white;
  background-color: #222;
  color: white;
  padding: 8px 32px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.Button:hover {
  background-color: #999;
}

.Links {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  font-family: 'Courier', monospace;
  color: #999;
}

.Links li {
  display: inline;
}

.Links li + li {
  margin-left: 12px;
}

.Links a {
  color: #999;
  border-bottom: 1px dotted #999;
  cursor: pointer;
  text-decoration: none;
}

.ServiceError {
  color: red;
  font-family: 'Courier', monospace;
}

.grecaptcha-badge {
  display: none !important;
}
